.InfoLinkContainer {
    display: flex;
    flex-direction: row;
}

.InfoLink {
    margin: 10px 15px 0 0;
}

.InfoLinkIcon {
    color: var(--ob_black);
}

.InfoLinkIcon:hover{
    color: var(--ob_gray);
}

@media (max-width: 1400px) {
    .InfoLinkContainer {
        justify-content: center;
    }
}